@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

html {
  cursor: none;
}
body {
  background-color: #fffffd;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Inter", sans-serif;
}

/* *************** navbar *************** */

nav {
  margin-top: 30px;
  width: 100%;
}

.navLinks{
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

nav a {
  text-decoration: none;
  color: #17171780;
  font-size: large;
  font-weight: bold;
  padding: 12px;
}

nav a:hover {
  color: #212121;
}

/* *************** main *************** */
a{
  cursor: none;
}
.underline {
  text-decoration: underline;
}

h1 {
  font-size: 75px;
  text-align: left;
  
  font-weight: lighter;
}

main {
  padding-top: 140px;
  margin-left: 84px;
  font-size: 26px;
}

.text {
  font-size: 26px;
  text-align: left;
  margin-bottom: 100px;
}

.imgLaura {
  float: right;
  margin-right: 300px;
}

.mail {
  color: aliceblue;
  text-decoration: underline;
}

.imgLaura {
  width: 284px;
  height: 378px;
}

.links {
  color: black;
}

.contact {
  font-size: 26px;
  color: #ffffffff;
}
.underline {
  text-decoration: underline;
}

.zoom:hover {

  will-change: transform;
transform: translate3d(0, 0, 1px);
backface-visibility: hidden;
  transition: transform 0.3s;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
}

.cv{
  margin-top: 200px;
   margin-bottom: 200px;
}

.componentCV{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
  
.titleCV{
  font-size: 36px;
}

.textCV1{
  font-size: 32px;
  padding-right: 220px;
  text-align: start;
}

.textCV2{
  font-size: 32px;
 padding-right: 400px;
  text-align: start;
}

.textCV3{
  font-size: 32px;
  padding-right: 245px;
  text-align: start;
}

.dateCV{
  font-size: 58px;
  
}
/* *************** footer *************** */

footer {
  bottom: 0;
  height: 60px;
  width: 95%;
}
.footer1 {
  color: #212121;
  text-decoration: none;
}

.footer2 {
  color: #8e8e8e;
  text-decoration: none;
  float: right;
}

.letswork {
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.letsworkLogo {
  height: 249px;
  width: 249px;
}

/* cursor */

#main-cursor {
  background-color: rgb(243, 165, 217);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

#follow-cursor {
  border: 5px solid rgb(230, 67, 175);

  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.05s ease, left 0.3s linear, top 0.3s linear;
  pointer-events: none;
  position: absolute;
}

#follow-cursor .active {
  transform: scale(4);
  mix-blend-mode: difference;
  background-color: #fff;
}
