@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

body {
  background-color: #fffffd;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-left: 50px;
  font-family: "Inter", sans-serif;
  cursor: none; 
}
/* *************** navbar *************** */
nav {
  margin-top: 30px;
  width: 100%;
}

.navLinks{
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

nav a {
  text-decoration: none;
  color: #17171780;
  font-size: large;
  font-weight: bold;
  padding: 12px;
}

nav a:hover {
  color: #212121;
}

/* *************** main *************** */
a{
  cursor: none;
}
main {
  padding-top: 60px;
  padding-right: 50px;
}

h1 {
  font-size: 75px;
  font-weight: lighter;
  text-align: left;
  color: #212121;
}

.underline {
  text-decoration: underline;
  color: #212121 ;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

.imgAcc {
  height: 756px;
  width: 572px;
}

#divGIF {
  background-color: #f4f4f4;
  height: 756px;
  width: 572px;

  text-align: center;
}

.gif1 {
  align-content: center;

  padding-top: 30%;
}

.zoom:hover {

    will-change: transform;
	transform: translate3d(0, 0, 1px);
	backface-visibility: hidden;
    transition: transform 0.3s;
    -ms-transform: scale(1.08); /* IE 9 */
    -webkit-transform: scale(1.08); /* Safari 3-8 */
  }

.ptiteEnc {
  position: relative;
  bottom: 0;
}

.text1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*  *************** footer *************** */


footer {
  bottom: 0;
  height: 60px;
  margin-right: 40px;
}
.footer1 {
  color: #212121;
  text-decoration: none;
}

.footer2 {
  color: #8e8e8e;
  text-decoration: none;
  float: right;
}

.letswork {
  position: fixed;
  bottom: 60px;
  right: 60px;
  
}



/* *************** cursor *************** */


#main-cursor {
  background-color: rgb(243, 165, 217);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

#follow-cursor {
  border: 5px solid rgb(230, 67, 175);

  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.05s ease, left 0.3s linear, top 0.3s linear;
  pointer-events: none;
  position: absolute;
}

#follow-cursor .active {
    transform: scale(4);
    mix-blend-mode: difference;
    background-color: #fff;
  }

