@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("ttf");
}

html {
  cursor: none;
}

body {
  background-color: #212121;
  margin: 0;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
  font-family: "Inter", sans-serif;
  color: #ffffffff;
  height: 1vh;
}
/* *************** navbar *************** */
nav {
  margin-top: 30px;
  width: 100%;
}

.navLinks{
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

nav a {
  text-decoration: none;
  color: #ffffffff;
  font-size: large;
  font-weight: bold;
  padding: 12px;
}

nav a:hover {
  color: #8e8e8e;
}

/* *************** main *************** */
a{
  cursor: none;
}
.underline {
  text-decoration: underline;
}

h1 {
  font-size: 75px;
  text-align: left;
  font-weight: lighter;
}

main {
  padding-top: 140px;
  margin-left: 84px;
}

.text {
  font-size: 26px;
  text-align: left;
  margin-bottom: 100px;
}

.mail {
  color: aliceblue;
  text-decoration: underline;
}

.contact {
  font-size: 26px;
  color: #ffffffff;
}
/* *************** footer *************** */
footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 95%;
}
.footer1 {
  color: #ffffffff;
  text-decoration: none;
}

.footer2 {
  color: #8e8e8e;
  text-decoration: none;
  float: right;
}

.letswork {
  position: fixed;
  bottom: 50px;
  right: 50px;
  transform: translate(-50%, -50%);
}

.letsworkLogo {
  height: 249px;
  width: 249px;
}

/* *************** cursor *************** */

#main-cursor {
  background-color: rgb(243, 165, 217);
  height: 22px;
  width: 22px;
  border-radius: 50%;
  pointer-events: none;
  position: absolute;
}

#follow-cursor {
  border: 5px solid rgb(230, 67, 175);

  height: 30px;
  width: 30px;
  border-radius: 50%;
  transition: all 0.05s ease, left 0.3s linear, top 0.3s linear;
  pointer-events: none;
  position: absolute;
}

#follow-cursor .active {
  transform: scale(4);
  mix-blend-mode: difference;
  background-color: #fff;
}
